<div class="px-6">
  <div class="flex flex-col items-center mb-4">
    <label class="text-gray-300 text-xl mb-2">Search for food</label>
    <input
      (keyup)="updateField($event)"
      class="w-[80%] max-w-[480px] rounded-md border-solid border border-gray-600 p-2 text-gray-300"
    />
  </div>
  <p class="justify-self-end mb-4 text-white font-semibold pr-4">
    Cart: <span>{{ cartQuantity() }}</span>
  </p>
  <ul
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 items-center justify-between w-full gap-4"
  >
    @for(food of foods; track food.id) {
    <!-- <li class="bg-red-300 w-full">{{ food.title }}</li> -->
    <app-food (addedToCart)="addToCart(food)" [foodDetails]="food"></app-food>
    } @empty {
    <p class="text-center w-full">Sorry. Food isn't ready yet!</p>
    }
  </ul>
  @if(foods.length > 0) {
  <button
    class="w-full py-3 px-6 text-center text-white bg-black mt-8 rounded-lg"
  >
    Proceed to pay
  </button>
  }

  <div class="mt-8 text-gray-300">
    <p>
      List of the cart items will be displayed here with their chosen counts
    </p>
  </div>
</div>
