@let details = foodDetails(); @let inStock = details!.quantity > 0;

<li class="rounded-t-lg bg-gray-300 flex flex-col items-center">
  <!-- <p>img</p> -->
   <img src="" alt="image of {{details?.title}}" class="h-40 w-full text-black" />
  <div class="px-2 py-4 w-full">
    <div class="flex justify-between items-center mb-2">
      <p>{{ details!.title | kebabCase }}</p>
      <p>{{ details?.price | currency:"EUR" }}</p>
    </div>
    <div class="flex items-center gap-2">
      <p>{{ inStock ? "In stock" : "Out of stock" }}</p>
      @if(inStock){
      <span>{{ details?.quantity }}</span>
      }
    </div>
    @if(inStock){
    <button
      (click)="addedToCart.emit()"

      class="bg-green-500 text-white w-full rounded-[4px] py-2 text-xl mt-6 hover:cursor-pointer hover:shadow-md hover:font-bold transition transform duration-75"
    >
      Add to cart
    </button>
    }@else {
    <button
      (click)="addedToCart.emit()"
      class="bg-gray-500 text-gray-700 w-full rounded-[4px] py-2 text-xl mt-6 hover:cursor-not-allowed transition transform duration-75"
    >
      Add to cart
    </button>
    }
  </div>
</li>
